<!doctype html>
<html>
<head>
<script type="text/javascript" src="{{ url_for('static', filename='npswa.js') }}"></script>
<title>NPS chat summary</title>
</head>
<body onload="restoreOutputOptionDefaults()">
<table align=center style="min-width:35%">
<tr><td>
<h1>Upload file</h1>
{% for error_msg in error_msgs %}
<div id="error_msg_area_{{loop.index0}}" style="color:#FF0000">
{{error_msg}}&nbsp;
<a id="rm_error_msg_area_{{loop.index0}}_button"
   onclick="remove_error_msg_area({{loop.index0}}); return false;" href="">Clear message</a>
</div>
{% endfor %}
<hr>
<form action="/" method=post enctype=multipart/form-data>
  <div id="file_type_chooser">
  <dl>
  <dt>What's your file type?</dt>
  <dd><input onclick="set_chat_text_mode()" name="filetype" type="radio" value="wa_chat_text" checked="true">Whatsapp exported chat text</input></dd>
  <dd><input onclick="set_plain_text_mode()" name="filetype" type="radio" value="plain_text">Plain text for word cloud</input></dd>
  </dl>
  </div>
  <div id="wa_chat_text_options">
      <div id="date_format_chooser">
          <dl>
          <dt>Select date format used in the file:</dt>
          <dd><input id="inp_dtfmt_ddmmyyyy" onclick="setInnerHTML('inp_dtstr_lbl', '('+this.value+')');" name="dateformat" type="radio" value="DD/MM/YYYY" checked="true">DD/MM/YYYY</input></dd>
          <dd><input id="inp_dtfmt_mmddyyyy" onclick="setInnerHTML('inp_dtstr_lbl', '('+this.value+')');" name="dateformat" type="radio" value="MM/DD/YYYY">MM/DD/YYYY</input></dd>
          </dl>
      </div>
      <div id="end_date_input">
          <dl>
          <dt>Summarise upto date:</dt>
          <dd><input id="inp_dtstr" type=text name=datestr value=""/><label for=inp_dtstr id=inp_dtstr_lbl>(DD/MM/YYYY)</label></dd>
          </dl>
      </div>
      <div id="time_format_chooser">
          <dl>
          <dt>Select time format used in the file:</dt>
          <dd><input id="inp_tmfmt_hh12mmssaa" name="timeformat" type="radio" value="hh:mm:ss aa" checked="true">8:47:15 am</input></dd>
          <dd><input id="inp_tmfmt_hh12mmaa" name="timeformat" type="radio" value="hh:mm aa">8:47 am</input></dd>
          <dd><input id="inp_tmfmt_hh24mmss" name="timeformat" type="radio" value="HH:mm:ss">20:47:15</input></dd>
          <dd><input id="inp_tmfmt_hh24mm" name="timeformat" type="radio" value="HH:mm">20:47</input></dd>
          </dl>
      </div>
      <div id="oo_container">
      <a id="wa_output_options_button" onclick="toggleOutputOptions(); return false;" href="">Show output options</a>
      <div id="wa_output_options" style="visibility: hidden; display: none">
          <dl>
          <dt>What do you need in the output?</dt>
          <dd><input id="inp_woc_csv" name="wa_output_config" type="checkbox" value="need_csv" checked="false">CSV</input></dd>
	      <dd><dl>
            <dt><input id="inp_woc_graf" onclick="updateOutputSubOptions(this.checked, getGraphOptionInputNames())" name="wa_output_config" type="checkbox" value="need_graphs" checked="true">Graphs</input></dt>
	      <dd>
                  <input id="inp_woc_graf_grp_msgs_by_date" name="wa_output_config" type="checkbox" value="need_grp_msgs_by_date_graph" checked="false">Group messages by date graphs</input></dt>
              </dd>
	      <dd>
                  <input id="inp_woc_graf_day_msgs_by_name" name="wa_output_config" type="checkbox" value="need_day_msgs_by_name_graph" checked="true">Messages by name graph for the given date</input></dt>
              </dd>
	      <dd>
                  <input id="inp_woc_graf_all_msgs_by_name" name="wa_output_config" type="checkbox" value="need_all_msgs_by_name_graph" checked="false">Messages by name graph for all dates</input></dt>
              </dd>
	      <dd>
                  <input id="inp_woc_graf_all_msgs_by_time_of_day" name="wa_output_config" type="checkbox" value="need_all_msgs_by_time_of_day_graph" checked="true">Messages by time of day graph</input></dt>
              </dd>
	  <dt><input id="inp_woc_wcloud" onclick="updateOutputSubOptions(this.checked, getWordCloudOptionInputNames())" name="wa_output_config" type="checkbox" value="need_word_clouds" checked="true">Word clouds</input></dt>
	      <dd>
	          <input id="inp_woc_wcloud_all_names" name="wa_output_config" type="checkbox" value="need_all_names_cloud" checked="false">Word cloud of names based on entire message history</input>
	      </dd>
	      <dd>
	          <input id="inp_woc_wcloud_day_names" name="wa_output_config" type="checkbox" value="need_day_names_cloud" checked="true">Word cloud of names based on messages on the given date</input>
	      </dd>
	      <dd>
	          <input id="inp_woc_wcloud_all_msgs" name="wa_output_config" type="checkbox" value="need_all_msgs_word_cloud" checked="false">Word cloud of entire message history</input>
	      </dd>
	      <dd>
	          <input id="inp_woc_wcloud_day_msgs" name="wa_output_config" type="checkbox" value="need_day_msgs_word_cloud" checked="true">Word cloud of messages on the given date</input>
	      </dd>

	      </dl></dd>
      </dl>
      </div>
      </div>
  </div>
  <div id="common_buttons">
      <dl>
      <input type=file name=upfile></input><input type=submit value=Upload ></input>
      </dl>
  </div>
</form>
<hr>
</td></tr></table>
</body>
</html>
